* {
  margin: 0px;
  padding: 0px;
}

:root {
  --mojaBoja: #3e64ff;
}

@font-face {
  font-family: mojFont;
  src: url(fonts/noviFont.ttf);
}

#pocetniEkran {
  width: 100%;
  height: 100vh;
  position: relative;
}

.blokPozadina {
  width: 50%;
  height: inherit;
  float: left;
}

#preko {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.plava {
  background-color: #e6ebff;
}

#navigacija {
  width: 60%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 111px;
  height: 50px;
  margin: 5px;
  background-image: url("../img/logo.png");
  background-size: inherit;
  background-position: 0px 0px;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  margin: 10px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul li a:hover {
  border-bottom: 1px solid #3e64ff;
}

#burger {
  display: none;
}

#naslov {
  text-align: center;
  margin-top: 35vh;
}

#naslov div p {
  font-size: 16px;
  font-weight: 800;
  color: var(--mojaBoja);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#naslov div h1 {
  font-size: 70px;
  font-weight: bold;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 15px;
}

#naslov div h2 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.2rem;
}

#naslov div h2 span {
  color: var(--mojaBoja);
  text-decoration: underline;
}

#strelicaDole {
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: #e6ebff;
  margin: 18vh auto;
}

#strelicaDole i {
  transform: rotate(-45deg);
  color: var(--mojaBoja);
  font-size: 25px;
  animation-name: example;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
  }
  to {
    margin-top: 35px;
    margin-left: 35px;
    padding-left: 5px;
    padding-top: 5px;
  }
}

#oMeni {
  width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.karakteristike {
  width: 600px;
  height: 600px;
}

.slika {
  background-image: url("../img/moja.jpg");
  background-size: cover;
}

.naslov2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 30px;
}

.opis h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 30px;
}

.opis p {
  margin: 40px 30px 40px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #999999;
  font-size: 16px;
}

.opis ul {
  list-style: none;
  padding-left: 30px;
}

.opis ul li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.opis ul li span:first-child {
  display: inline-block;
  width: 150px;
}

.opis ul li span:last-child {
  color: #999999;
}

.opis p:last-child {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000000;
}

.opis p:last-child span {
  color: var(--mojaBoja);
  font-weight: bold;
}

#cv {
  padding: 15px 0px;
  background-color: var(--mojaBoja);
  border-radius: 30px;
  width: 120px;
  text-align: center;
  margin-left: 30px;
}

#cv p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-weight: 800;
  color: white;
}

#deoZaJezike {
  width: 1100px;
  margin: 80px auto;
  padding: 0px;
}

#jezici {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jezik {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 15%;
}

.jezik img {
  max-width: 100%;
}

.plavTekst {
  color: #3e64ff;
}

.rotiraj20 {
  transform: rotate(-20deg);
  top: 14px;
  left: 3px  !important;
}

.rotiraj75 {
  transform: rotate(-90deg);
  top: 40px;
  left: 40px !important;
}

.rotiraj90 {
  transform: rotate(-36deg);
  top: 24px;
  left: 7px !important;
}

#skills {
  width: 1100px;
  margin: 80px auto;
  padding: 0px;
  /* background-color: gray; */
}

#skills #grupisaneVestine {
  display: flex;
  justify-content: space-around;
}

#skills #grupisaneVestine .vestina {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px;
  padding: 0px;
  width: 25%;
  height: 350px;
  /* background-color: silver; */
  text-align: center;
}

#skills #grupisaneVestine .vestina h3 {
  margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  color: #000;
  font-weight: 700 !important;
}

#skills #grupisaneVestine .vestina .krug {
  width: 160px;
  height: 160px;
  border: 5px solid #e6ebff;
  border-radius: 90px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#skills #grupisaneVestine .vestina .krug .desniPolukrug {
  width: 74px;
  height: 148px;
  border: 6px solid #007bff;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-left: 0px;
  position: absolute;
  left: 80px;
}

#skills #grupisaneVestine .vestina .krug .leviPolukrug {
  width: 74px;
  height: 148px;
  border: 6px solid #007bff;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-right: 0px;
  position: absolute;
  left: 0px;
}

#skills #grupisaneVestine .vestina .krug .broj {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills #grupisaneVestine .vestina .krug .broj .brojProcenata {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#skills #grupisaneVestine .vestina p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #000;
}

.procenti_90 {
  width: 90%;
}

.procenti_85 {
  width: 85%;
}

.procenti_80 {
  width: 80%;
}

.procenti_75 {
  width: 75%;
}

.procenti_70 {
  width: 70%;
}

.procenti_60 {
  width: 60%;
}

.procenti_50 {
  width: 50%;
}

.procenti_40 {
  width: 40%;
}

.procenti_30 {
  width: 30%;
}

.procenti_25 {
  width: 25%;
}

.procenti_20 {
  width: 20%;
}

.procenti_15 {
  width: 15%;
}

.procenti_10 {
  width: 10%;
}

#sekcijaSkilova {
  width: 1000px;
  margin: 0px auto;
  margin: 80px auto;
  padding: 0px;
}

#sekcijaSkilova #sviSkilovi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
  width: 50%;
  height: 100%;
  padding: 20px;
}

#sekcijaSkilova #sviSkilovi .red {
  width: 100%;
  margin-bottom: 30px;
  /* background-color: blue; */
}

#sekcijaSkilova #sviSkilovi .red .naziv_procenat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#sekcijaSkilova #sviSkilovi .red .naziv_procenat .language {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sekcijaSkilova #sviSkilovi .red .naziv_procenat .percentage {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sekcijaSkilova #sviSkilovi .red .linija {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
}

#sekcijaSkilova #sviSkilovi .red .linija .levaLinija {
  height: 10px;
  background-color: #3e64ff;
}

#sekcijaSkilova #sviSkilovi .red .linija .desnaLinija {
  height: 10px;
  background-color: #e6ebff;
}

#sekcijaObrazovanje {
  margin: 80px auto;
  padding: 0px;
  width: 1040px;
}

#sekcijaObrazovanje h2 {
  margin-left: 0px;
  margin-right: 0px;
}

#sekcijaObrazovanje #grupisano {
  width: 100%;
  margin: 0px auto;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .slicicaObrazovanje {
  width: 55px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .slicicaObrazovanje .ikonica {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3e64ff;
  border-radius: 100px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .opisObrazovanja {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 15px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .opisObrazovanja p:nth-child(1) {
  color: #3e64ff;
  font-weight: 800;
  margin-top: 0px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .opisObrazovanja h3 {
  margin: 7px 0px 5px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  color: #000;
  font-weight: 700 !important;
  font-weight: 800;
  font-size: 24px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .opisObrazovanja h4 {
  font-weight: bold;
  font-size: 18px;
}

#sekcijaObrazovanje #grupisano .elementObrazovanje .opisObrazovanja p {
  color: #999;
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
}

#sekcijaFreelancing {
  width: 100%;
  height: 450px;
  margin: 80px auto;
  padding: 0px;
  background-image: url("../img/pozadina.jpg");
  position: relative;
}

#sekcijaFreelancing #freelancing {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(62, 100, 255, 0.7);
  /* opacity: .7; */
}

#sekcijaFreelancing #freelancing .freelancingTekst {
  text-align: center;
  width: 70%;
  margin: 70px auto;
}

#sekcijaFreelancing #freelancing .freelancingTekst h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 30px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 45px;
}

#sekcijaFreelancing #freelancing .freelancingTekst h2 span {
  color: #a0f669;
}

#sekcijaFreelancing #freelancing .freelancingTekst p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 600;
  width: 80%;
  margin: 0px auto;
}

#sekcijaFreelancing #freelancing .freelancingDugme {
  width: 75px;
  padding: 15px 30px 15px 30px;
  background: #3e64ff !important;
  opacity: 1;
  border: 1px solid #3e64ff !important;
  margin: 0px auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#link {
  text-decoration: none;
  color: white  !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.centar {
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

.prvi {
  background-image: url("../img/projekat1.jpg");
}

.drugi {
  background-image: url("../img/projekat2.jpg");
}

.treci {
  background-image: url("../img/projekat3.jpg");
}

.cetvrti {
  background-image: url("../img/projekat4.jpg");
}

.peti {
  background-image: url("../img/projekat5.jpg");
}

.sesti {
  background-image: url("../img/projekat6.jpg");
}

#sekcijaProjekti {
  margin: 80px auto;
  padding: 0px;
  width: 100%;
  /* height: 700px; */
}

#sekcijaProjekti h2 {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 30px;
}

#sekcijaProjekti .redProjekata {
  /* height: 350px; */
  display: flex;
  justify-content: center;
  width: 100%;
}

#sekcijaProjekti .blokProjekat {
  width: 33.33333%;
  height: 350px;
  background-color: #222;
  position: relative;
  z-index: 10;
}

#sekcijaProjekti .blokProjekat .pozadinaSlika {
  position: absolute;
  width: 100%;
  height: 350px;
  z-index: 20;
}

#sekcijaProjekti .blokProjekat .pozadinaSlika:hover {
  z-index: 2;
}

#sekcijaProjekti .blokProjekat .blokTekst {
  position: absolute;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background: rgba(62, 100, 255, 0.8);
}

#sekcijaProjekti .blokProjekat .blokTekst:hover {
  background: rgba(62, 100, 255, 0.8);
  z-index: 25;
}

#sekcijaProjekti .blokProjekat .blokTekst div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sekcijaProjekti .blokProjekat .blokTekst div h3 {
  margin-bottom: 5px;
}

.formaPozadina {
  background-color: #e6ebff;
}

#sekcijaForma {
  width: 100%;
}

#sekcijaForma h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 30px;
  text-align: center;
}

#sekcijaForma #regionForma {
  width: 1100px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

#sekcijaForma #regionForma .opis #forma {
  margin: 48px;
}

#sekcijaForma #regionForma .opis #forma form input[type=text], #sekcijaForma #regionForma .opis #forma textarea {
  height: 48px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 90%;
  margin-bottom: 20px;
  padding: .375rem .75rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: none;
  border: 1px solid #ced4da;
}

#dugme {
  background: #3e64ff;
  border: 1px solid #3e64ff;
  color: #fff;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  padding: 16px 48px;
  border-radius: 50px;
}

#dugme:hover {
  color: #000;
}

.textarea {
  height: 120px !important;
}

.tekstCentar {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #000;
  /* height: 500px; */
  padding-top: 100px;
  padding-bottom: 10px;
}

footer #coverFooter {
  margin: 0px auto;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer #coverFooter .futerRed {
  display: flex;
  justify-content: space-between;
}

footer #coverFooter .futerRed p {
  color: rgba(255, 255, 255, 0.7);
}

footer #coverFooter .futerRed .blokFooter {
  width: 22%;
  height: 300px;
  /* background-color: red; */
}

footer #coverFooter .futerRed .blokFooter div h3 {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

footer #coverFooter .futerRed .blokFooter div p {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

footer #coverFooter .futerRed .blokFooter div ul {
  list-style: none;
}

footer #coverFooter .futerRed .blokFooter div ul li {
  color: rgba(255, 255, 255, 0.7);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer #coverFooter .futerRed .blokFooter div ul li i {
  color: rgba(255, 255, 255, 0.7);
}

footer #coverFooter .futerRed .blokFooter div ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

footer #coverFooter .futerRed .blokFooter .soc {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: left;
  margin: 40px 0px 16px 0px;
}

footer #coverFooter .futerRed .blokFooter .soc div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 12px; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 9px;
}

footer #coverFooter .futerRed .blokFooter .soc div i {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1500px) {
  #navigacija {
    width: 80%;
  }
}

@media screen and (max-width: 1150px) {
  nav ul li {
    margin: 5px;
    padding: 10px;
  }
  nav ul li a {
    font-size: 12px;
  }
  #oMeni {
    width: 900px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }
  .karakteristike {
    width: 450px;
    height: 500px;
  }
  .slika {
    background-position: 0px 0px;
  }
  .opis ul li {
    font-size: 15px;
  }
  .opis ul li span:first-child {
    width: 120px;
  }
  .opis h2 {
    font-size: 35px;
    margin: 15px;
  }
  .opis p {
    margin: 20px 30px 30px 15px;
    font-size: 16px;
  }
  .opis ul {
    list-style: none;
    padding-left: 15px;
  }
  .opis ul li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-bottom: 12px;
  }
  #cv {
    margin-left: 15px;
  }
  #deoZaJezike {
    width: 900px;
  }
  #skills {
    width: 900px;
  }
  #skills #grupisaneVestine {
    display: flex;
    justify-content: space-around;
  }
  #sekcijaSkilova {
    width: 900px;
  }
  #sekcijaObrazovanje {
    width: 80%;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst {
    width: 95%;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst h2 {
    font-size: 36px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst p {
    font-size: 16px;
    width: 60%;
  }
  #sekcijaForma {
    width: 100%;
  }
  #sekcijaForma #regionForma {
    width: 900px;
    margin: 0px auto;
  }
  #sekcijaForma #regionForma .slika {
    background-position-x: center;
  }
  #sekcijaForma #regionForma .opis #forma {
    margin: 48px;
  }
  #sekcijaForma #regionForma .opis #forma form input[type=text], #sekcijaForma #regionForma .opis #forma textarea {
    font-size: 18px;
    margin-bottom: 12px;
    height: 42px;
  }
  #dugme {
    margin-top: 10px;
  }
  footer #coverFooter {
    width: 900px;
  }
  footer #coverFooter .futerRed {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1000px) {
  #sekcijaProjekti h2 {
    font-size: 32px;
  }
  #sekcijaProjekti .redProjekata {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  #sekcijaProjekti .redProjekata .blokProjekat {
    width: 100%;
    height: 320px;
  }
  #sekcijaProjekti .redProjekata .blokProjekat .pozadinaSlika {
    height: 320px;
  }
  #sekcijaProjekti .redProjekata .blokProjekat .blokTekst {
    height: 320px;
  }
}

@media screen and (max-width: 900px) {
  #navigacija {
    width: 90%;
  }
  .slika {
    background-position: -50px 0px;
  }
  #oMeni {
    width: 700px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
  }
  .karakteristike {
    width: 450px;
    height: 500px;
  }
  #deoZaJezike {
    width: 700px;
  }
  #skills {
    width: 700px;
    margin: 80px auto;
    padding: 0px;
    /* background-color: gray; */
  }
  #skills #grupisaneVestine {
    flex-wrap: wrap;
  }
  #skills #grupisaneVestine .vestina {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0px;
    padding: 0px;
    width: 70%;
  }
  .plavTekst {
    text-align: center;
  }
  #sekcijaSkilova {
    width: 710px;
  }
  #sekcijaSkilova #sviSkilovi {
    flex-wrap: wrap;
  }
  #sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
    width: 80%;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst h2 {
    font-size: 36px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst p {
    font-size: 16px;
    width: 65%;
  }
  #sekcijaForma {
    width: 100%;
  }
  #sekcijaForma #regionForma {
    width: 685px;
    margin: 0px auto;
  }
  #sekcijaForma #regionForma .slika {
    background-position-x: -60px;
  }
  footer #coverFooter {
    width: 685px;
  }
  footer #coverFooter .futerRed {
    justify-content: space-around;
  }
  footer #coverFooter .futerRed .blokFooter {
    width: 24%;
  }
  footer #coverFooter .futerRed .blokFooter div ul li {
    font-size: 15px;
  }
}

@media screen and (max-width: 740px) {
  #navigacija {
    width: 100%;
  }
  nav ul li {
    padding: 7x;
  }
  #oMeni {
    width: 100%;
  }
  #oMeni .slika {
    display: none;
  }
  #oMeni .opis {
    width: 80%;
    margin: 0px auto;
  }
  #oMeni .opis h2 {
    font-size: 38px;
    width: 80%;
    margin-left: 10%;
  }
  #oMeni .opis p, #oMeni .opis ul {
    width: 80%;
    margin-left: 10%;
    padding-left: 0px;
  }
  #oMeni .opis #cv {
    margin-left: 15%;
  }
  #deoZaJezike {
    width: 550px;
    margin: 15px auto;
  }
  #jezici {
    flex-wrap: wrap;
  }
  .jezik {
    width: 30%;
    margin-bottom: 10px;
  }
  #skills {
    width: 500px;
  }
  .naslov2 {
    font-size: 38px;
    margin-left: 50px;
  }
  #sekcijaSkilova {
    width: 610px;
  }
  #sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
    width: 70%;
  }
}

@media screen and (max-width: 685px) {
  #sekcijaFreelancing #freelancing .freelancingTekst {
    margin-bottom: 30px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst h2 {
    font-size: 32px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst p {
    font-size: 16px;
    width: 65%;
  }
  #sekcijaForma {
    width: 100%;
  }
  #sekcijaForma #regionForma {
    width: 500px;
    margin: 0px auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  #sekcijaForma #regionForma .slika {
    background-position-x: center;
  }
  #sekcijaForma #regionForma .duzina {
    width: 500px;
  }
  footer #coverFooter {
    width: 85%;
  }
  footer #coverFooter .futerRed {
    /* width: 90%; */
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer #coverFooter .futerRed .blokFooter {
    width: 35%;
  }
}

@media screen and (max-width: 650px) {
  #navigacija nav {
    display: none;
  }
  #burger {
    display: block;
    margin: 5px;
  }
  #burger i {
    font-size: 35px;
    margin: 5px;
  }
  #naslov div p {
    font-size: 12px;
  }
  #naslov div h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  #naslov div h2 {
    font-size: 1.5rem;
  }
  #oMeni .opis #cv {
    margin: 30px auto;
  }
  #sekcijaSkilova {
    width: 490px;
  }
  #sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
    width: 80%;
  }
}

@media screen and (max-width: 580px) {
  #deoZaJezike {
    width: 500px;
  }
  #jezici {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .jezik {
    width: 40%;
    margin: 0px 15px 10px 15px;
  }
  footer #coverFooter {
    width: 85%;
  }
  footer #coverFooter .futerRed {
    /* width: 90%; */
    justify-content: space-around;
    flex-wrap: wrap;
  }
  footer #coverFooter .futerRed .blokFooter {
    width: 80%;
    height: 280px;
  }
}

@media screen and (max-width: 500px) {
  #deoZaJezike {
    width: 90%;
  }
  .jezik {
    width: 35%;
  }
  #skills {
    width: 350px;
  }
  #sekcijaSkilova {
    width: 350px;
  }
  #sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
    width: 90%;
  }
  #sekcijaForma {
    width: 100%;
  }
  #sekcijaForma h2 {
    font-size: 39px;
  }
  #sekcijaForma #regionForma {
    width: 95%;
    margin: 0px auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  #sekcijaForma #regionForma .slika {
    background-position-x: center;
  }
  #sekcijaForma #regionForma .opis #forma form input {
    width: 100%;
    font-size: 15px;
  }
  #sekcijaForma #regionForma .duzina {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  #sekcijaFreelancing #freelancing .freelancingTekst {
    margin-top: 80px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst h2 {
    font-size: 28px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst p {
    font-size: 15px;
    width: 85%;
  }
}

@media screen and (max-width: 380px) {
  #burger i {
    font-size: 25px;
    margin: 5px;
  }
  #naslov div p {
    font-size: 12px;
  }
  #naslov div h1 {
    font-size: 35px;
    margin-bottom: 7px;
  }
  #naslov div h2 {
    font-size: 1.2rem;
  }
  #oMeni {
    width: 100%;
    height: 450px;
  }
  #oMeni .opis {
    width: 100%;
  }
  #oMeni .opis p {
    font-size: 15px;
    display: block;
    margin: 20px auto;
  }
  #oMeni .opis ul li {
    font-size: 12px;
  }
  #oMeni .opis #cv p {
    font-size: 12px;
    margin: 0px auto;
  }
  #oMeni .opis #cv {
    padding: 12px;
    margin: 40px auto;
  }
  #deoZaJezike {
    width: 90%;
  }
  .jezik {
    width: 40%;
  }
  #skills {
    width: 310px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst {
    margin-top: 30px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst h2 {
    font-size: 26px;
  }
  #sekcijaFreelancing #freelancing .freelancingTekst p {
    font-size: 16px;
    width: 65%;
    line-height: 1.4;
  }
  #sekcijaForma {
    width: 100%;
  }
  #sekcijaForma #regionForma {
    width: 100%;
  }
  #sekcijaForma #regionForma .duzina {
    width: 100%;
  }
  #sekcijaForma h2 {
    font-size: 31px;
  }
}

@media screen and (max-width: 350px) {
  #oMeni .opis p, #oMeni .opis ul, #oMeni .opis h2 {
    width: 95%;
  }
  #oMeni .opis h2, #oMeni .opis ul {
    display: block;
    width: 95%;
    margin: 0px auto;
  }
  #deoZaSlike {
    width: 100%;
  }
  .jezik {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .jezik img {
    width: 50%;
  }
  #sekcijaSkilova {
    width: 95%;
  }
  #sekcijaSkilova #sviSkilovi .grupisaniSkilovi {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */